* {
    box-sizing: border-box;
}

body {
    background-color: antiquewhite;
    font-size: 18px;
    line-height: 30px;
    color: #777777;
    margin: 0px, 0px;
}

#jumbo {
    background: opaque;
    padding: 0px 0px 0px 0px;
}

h1 {
    text-align: center;
}
h2 {
    text-align: center;
}
p {
    text-align: center;
}
.form-group {
    display: flex;
    justify-content: center;
}
li {
    margin-bottom: 30px;
}
label {
    margin-right: 20px;
}
#newburger {
    height: 30px;
    width: 300px;
    margin-right: 20px;
}
strong {
    margin-right: 20px;
}
.panel-heading {
    display: flex;
    align-items: center;
    justify-content: center;
}
.panel {
    margin-left: 40px;
    margin-right: 40px;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
img {
    border-radius: 10px;
}